@import "tailwindcss";

/* Estilos base para garantir scroll */
html, body, #root {
  height: 100%;
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  color: #fff;
}

* {
  box-sizing: border-box;
}
